---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { Picture } from 'astro:assets';

import Tag from '@/components/Tag.astro';
import { WORK_DETAIL_IMAGE_WIDTHS } from '@/consts';
import WorksGalleryLayout from '@/layouts/WorksGallery.astro';
import Icon from '@/components/Icon.astro';

export const getStaticPaths = (async () => {
  const works = await getCollection('work');

  return works.map(it => ({
    params: { id: it.id },
    props: it,
  }));
}) satisfies GetStaticPaths;

type Props = CollectionEntry<'work'>;

const work = Astro.props;
const { Content } = await render(work);

const isDev = import.meta.env.DEV;
const showContent = !work.data.hideContent;
const hasContent = !!work.rendered?.html;
---

<WorksGalleryLayout title={work.data.title} image={work.data.image.src}>
  <header>
    <div class="container mx-auto">
      <div class="relative">
        <div class="absolute z-10">
          <div class="flex items-center space-x-12">
            <a href="/works" class="block bg-black hover:shadow-lg">
              <Icon icon="arrowLeft" class="fill-white block size-24" />
            </a>

            {
              work.data.tw && (
                <div
                  class:list={[
                    'border-2 border-white',
                    'bg-black text-white text-2xl',
                    'px-4 py-2',
                  ]}
                >
                  Content Warning
                </div>
              )
            }
          </div>
        </div>

        <Picture
          src={work.data.image}
          alt={work.data.title}
          widths={WORK_DETAIL_IMAGE_WIDTHS}
          class="mx-auto"
        />
      </div>
    </div>
  </header>

  {
    hasContent && showContent && (
      <article>
        <div class="container mx-auto">
          <div class="content">
            {/* {work.data.tags && (
              <div class="content-meta">
                <ul class="flex space-x-2">
                  {work.data.tags.map(it => (
                    <li>
                      <Tag>{it}</Tag>
                    </li>
                  ))}
                </ul>
              </div>
            )} */}

            <div class="prose prose-slate prose-xl sm:prose-pink">
              <Content />
            </div>
          </div>
        </div>
      </article>
    )
  }
</WorksGalleryLayout>

<style>
  @reference '@/styles/global.css';

  .content {
    @apply w-9/12 md:mx-auto sm:m-0 md:-mt-12 p-8 md:px-16 bg-white relative space-y-2;
    @apply max-sm:w-full;
  }

  .content-meta {
    /* @apply border-2; */
  }
</style>
