---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { format } from 'date-fns';

import WorksGalleryLayout from '../../layouts/WorksGallery.astro';
import { WORK_GALLERY_IMAGE_WIDTHS } from '../../consts';
import Icon from '../../components/Icon.astro';

const works = (await getCollection('work')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<WorksGalleryLayout title="Works">
  <main>
    <header class="container mx-auto my-4 py-4">
      <h1 class="text-9xl font-hero">Works</h1>
    </header>

    <div class="container mx-auto">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
        {
          works.map(it => (
            <li class="relative item">
              <div class="info bottom-2 left-2">{it.data.title}</div>

              <div class="info bottom-2 right-2">
                <time datetime={it.data.pubDate.toISOString()}>
                  {format(it.data.pubDate, 'yyyy-MM-dd')}
                </time>
              </div>

              {/* {it.rendered?.html && (
                <div class="info top-2 right-2 flex space-x-2 items-center">
                  <Icon icon="book" /> <span>Lore</span>
                </div>
              )} */}

              <a href={`/works/${it.id}`}>
                <Image
                  src={it.data.image}
                  alt={it.data.title}
                  widths={WORK_GALLERY_IMAGE_WIDTHS}
                  loading="lazy"
                  decoding="async"
                  class="object-cover h-full w-full"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main></WorksGalleryLayout
>

<style>
  @reference '../../styles/global.css';

  .item {
    @apply scale-90;
    @apply transition-all;
  }

  .item:hover {
    @apply shadow-xl;
    @apply scale-100;
  }

  .info {
    @apply absolute;
    @apply bg-black text-white px-2 py-1;
    @apply shadow-md;
  }
</style>
